body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.header {
	padding: 10px;
	color: white;
	background-color: #7B1FA2;
	text-align: center;
}

.content {
	background-color: #9C27B0;
	padding-top: 100px;
	min-height: 900px;
	color: white;
}

.content i.fa-heart {
	color: red;
}

.content a {
	color: white;
}

.content a:hover {
	color: blue;
	text-decoration: none;
}